{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<div id="about" class="section wb">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="right-box-pro">
                    <img src="static/main/uploads/jairoyamaru1.jpg" alt="" class="img-fluid img-rounded">
                    <div class="card-back"></div>
                    <div class="card-front"></div>						
                </div><!-- end media -->
            </div><!-- end col -->
            <div class="col-md-6">
                <div class="message-box">                        
                    <h2>Quien es  Jairo.</h2>
                    <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo. </p>
                    <p>Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo.</p>

                    <a href="#" class="sim-btn btn-hover-lt"><span class="btn-text">Download CV</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->
            
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

{% endblock %}